.cryptos {
    display: flex;
    max-width: 600px;
    max-height: 400px;
    flex-direction: column;
    
  }
  .drops {
    display: flex;
    flex-direction: column;
  }

  .drop-dates{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-right: 80px;
}

.carousel .slide .carousel-dark{
    display: grid;
    columns: 2;
}
.dropdown {
    padding-left: 40px;
}